<%- include('includes/header'); %>
  <header class="header--account">
    <%- include('includes/navbar'); %>
  </header>
  <section class="account">
    <div class="row account__painel">
      <div class="col-lg-1 col__abas">
        <div class="abas">
          <div class="abas__div">
            <a href="/account/<%= user._id %>">
              <button class="abas__aba actived">
                <i class="fa-solid fa-desktop"></i>
              </button>
            </a>
            <a href="/accountConfig/<%= user._id %>">
              <button class="abas__aba">
                <i class="fa-solid fa-gear"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col__summary">
        <div class="summary">
          <div class="summary__header">
            <h2>Bem-vindo <span><%= user.user %></span></h2>
            <a href="/logout">Sair <i class="fa-solid fa-power-off"></i></a>
          </div>
          <div class="summary__main">
            <div class="summary__main--tables">
              <table>
                <tr>
                  <th>Limite de crédito:</th>
                  <th>&pound;1,000.00</th>
                </tr>
                <tr>
                  <th>Valor depositado:</th>
                  <th>&pound;0.00</th>
                </tr>
                <tr>
                  <th>Crédito disponivel:</th>
                  <th>&pound;1,000.00</th>
                </tr>
                <tr>
                  <th>Dinheiro disponivel:</th>
                  <th>&pound;846.30</th>
                </tr>
              </table>
              <table>
                <tr>
                  <th>Limite ultrapassado:</th>
                  <th>&pound;0.00</th>
                </tr>
                <tr>
                  <th>Último pagamento:</th>
                  <th>&pound;0.00</th>
                </tr>
                <tr>
                  <th>Investimentos sacados:</th>
                  <th>&pound;0.00</th>
                </tr>
              </table>
              <div class="tables__links">
                <a href="#" class="tables__links--link">Ative seu cartão</a>
              </div>
            </div>
            <div class="summary__main--chaves">
              <h2>Selecione a chave</h2>
              <select name="keys">
                <option value="option1">Opção 1</option>
                <option value="option2">Opção 2</option>
                <option value="option3">Opção 3</option>
                <option value="option4">Opção 4</option>
              </select>
            </div>
          </div>
          <div class="summary__footer">
            <a href="#">Contato</a> |
            <a href="#">Ajuda</a> |
            <a href="#">Blog</a> |
            <a href="#">Politica de privacidade</a> |
            <a href="#">Informações importantes</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="current">
          <div class="current__money">
            <p>Dinheiro atual:</p>
            <h2>&pound;0.00</h2>
          </div>
          <div class="current__payment">
            <table>
              <tr>
                <th class="current__payment--text">Débito:</th>
                <th class="current__payment--num">&pound;0.00</th>
              </tr>
              <tr>
                <th class="current__payment--text">Crédito:</th>
                <th class="current__payment--num">&pound;0.00</th>
              </tr>
              <tr>
                <th class="current__payment--text">Investimentos:</th>
                <th class="current__payment--num">&pound;0.00</th>
              </tr>
            </table>
          </div>
          <button class="current__btn" type="button">Fazer deposito</button>
        </div>
      </div>
    </div>
  </section>
<%- include('includes/footer'); %>